<?php

/*
    We have arrived at the last file of the
    API, the controller. Here, we put everything
    together and we fulfill the request with the data the clients need.
 */

/*
 * The controllers on the API side are based on AbstractRestfulController. That means the action we will execute to
 * fulfill the request is determined based on the type of requests.
 */


/*
 * In this controller, we have to accomplish two things:
 * 1. To implement the abstract methods of the parent class,
 * 2. To have access to the UsersTable object.
 */

namespace Wall\Controller;

use Zend\Mvc\Controller\AbstractRestfulController;
use Zend\View\Model\JsonModel;

class IndexController extends AbstractRestfulController
{

    /**
     * Holds the UsersTable object.
     * @var Users\Model\UsersTable
     */
    protected $userTable;

    /**
     * Holds the user_statuses object.
     */
    protected $userStatusesTable;


    /**
     * Get the UsersTable object from ServiceManager and store it in @$userTable
     * @return Users\Model\UsersTable
     */
    protected function getUsersTable()
    {
        if (!$this->usersTable) {
            $sm = $this->getServiceLocator();
            $this->usersTable = $sm->get('Users\Model\UsersTable');
        }
        return $this->usersTable;
    }


    // ALLOWED
    public function get($username)
    {
      $userTable = $this->getUsersTable();
      $userStatusesTable = $this->getUserStatusesTable();

      $userData = $usersTable->getByUsername($username);
      $userStatuses = $userStatusesTable->getByUserId($userData->id)->toArray();

      $wallData = $userData->getArrayCopy();
      $wallData['feed'] = $userStatuses;

      usort($wallData['feed'], function($a, $b) {
          // @Todo: Stopped here. page 117, or in the book 88.

          /**
           * STOPED HERE
           */


      });
    }






    /* Implement the methods of the parent class. */





    // NOW ALLOWED
     public function getList()
    {
        $this->methodNotAllowed();
    }

    /**
     * 1. Validate the data coming from the client,
     * 2. access the database,
     * 3. store the status of the user, if the data is valid,
     * 4. and finally return the number of rows affected in the operation.
     */
    public function create($data)
    {
        $this->methodNotAllowed();
    }

    public function getUserStatusesTable($data)
    {

    }


    public function update($id, $data)
    {
        $this->methodNotAllowed();
    }
    public function delete($id)
    {
        $this->methodNotAllowed();
    }

    public function methodNotAllowed()
    {
        $this->response->setStatusCode(\Zend\Http\PhpEnvironment\Response::STATUS_CODE_405);
    }
}